body {
  background-color: #e3e3e3;
}

body,
p,
h1,
h2 {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

a,
button {
  transition: 300ms;
  cursor: pointer;
}

.black-header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 10px 16px;
}

.black-header a {
  color: #ddd9d9;
  font-weight: 300;
  font-size: 13px;
  margin: 0 12px;
}

.black-header a:hover {
  color: white;
}

.white-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  background-color: white;
}

.customer-side {
  display: flex;
  align-items: center;
}

.white-header a {
  color: #616161;
  font-size: 17px;
  margin: 0 12px;
}

.white-header a:hover {
  color: #909090;
}

.white-header button {
  background-color: #f53c3c;
  color: white;
  padding: 12px 18px;
  border: none;
  border-radius: 5px;
}

.white-header button:hover {
  background-color: #f87676;
}

.hero {
  height: 70vh;
  background-image: url("./city.webp");
  background-size: cover;
}

.news {
  padding: 32px;
  background-color: white;
  margin: -24px 32px 0 32px;
}

.news h2 {
  text-align: center;
  font-weight: 300;
  border-bottom: 2px solid rgb(235, 217, 60);
  width: 120px;
  margin: 0 auto;
  padding-bottom: 16px;
}
